/* STYLE PREMIUM */

body{
  font-family: 'Poppins', sans-serif;
  background: #fdfaf7;
  color: #5f5a57;
  margin: 0;
}

.product-page{
  padding: 60px 10%;
}

.product-container{
  display: flex;
  gap: 60px;
  align-items: flex-start;
}

.product-image img{
  width: 450px;
  border-radius: 25px;
  background: white;
  padding: 30px;
  box-shadow: 0 5px 25px rgba(0,0,0,0.05);
}

.product-info{
  max-width: 500px;
}

.product-info h1{
  font-size: 38px;
  margin-bottom: 10px;
  color: #4d4744;
}

.price{
  font-size: 28px;
  color: #d89ca4;
  margin-bottom: 25px;
}

.add-cart{
  background: #c8d5c0;
  border: none;
  padding: 15px 30px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 30px;
  transition: 0.3s;
}

.add-cart:hover{
  transform: scale(1.03);
}

.short-description{
  line-height: 1.8;
  margin-bottom: 25px;
}

details{
  background: white;
  padding: 18px;
  border-radius: 18px;
  margin-bottom: 15px;
  box-shadow: 0 3px 15px rgba(0,0,0,0.04);
}

summary{
  cursor: pointer;
  font-weight: 600;
  color: #6d6662;
}

.notes p,
details p,
details li{
  line-height: 1.7;
  margin-top: 15px;
}

ul{
  padding-left: 20px;
}
